<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nanami52.warehouse.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="userAuth" column="user_auth"/>
        <result property="nickName" column="nick_name"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="insert">
        insert into user(
        #{data.id},#{data.username},#{data.password},#{data.userAuth},#{data.nickName},#{data.createTime},#{data.status}
        )
    </insert>

    <select id="query" resultMap="userMap">
        select * from user where
        1=1
        <if test="where.id">and id=#{where.id}</if>
        <if test="where.username">and username=#{where.username}</if>
        <if test="where.userAuth">and user_auth=#{where.userAuth}</if>
        <if test="where.nickName">and nick_name=#{where.nickName}</if>
        <if test="where.createTime">and create_time=#{where.createTime}</if>
        <if test="where.status">and status=#{where.status}</if>
    </select>
</mapper>